<article>
    <h1 class="text-center fs-1">Desafio - Angular</h1>
        <p class="text-center fs-3">Criar um formulário para cadastrar:</p>
        <ul class="text-center fs-5 list-group align-middle">
            <li>Nome</li>
            <li>1nd nota</li>
            <li>2nd nota</li>
        </ul>
        <br />
        <p class="text-center fs-5">Abaixo haverá uma tabela com o nome do aluno, a média e a condição 
        (Aprovado ou reprovado)
        <br />Cada aluno tera um botao para alterar ou excluir seus dados
        <br />Cadastre essas informacoes em um array</p>

</article>